.problem {
  font-size: 50px;
  line-height: 50px;
  font-family: 'Noto Sans Math', sans-serif;
}

.problem .border-bottom {
  border-bottom: #000 2px solid !important;
}

.problem td {
  text-align: right;
}

.solution input {
  font-size: 30px;
  text-align: center;
}
