.operation {
  font-size: 80px;
  line-height: 60px;
  font-family: 'Noto Sans Math', sans-serif;
}

.operation .border-bottom {
  border-bottom: #000 2px solid !important;
}

.operation td {
  text-align: right;
}

.operation .operator {
  font-size: 50px;
  padding-top: 25px;
  padding-right: 25px;
}

.user-input input {
  width: 40px;
  margin: 0 5px;
  font-size: 50px;
  line-height: 65px;
  text-align: center;
  border: none;
  border-bottom: #000 1px solid;
}

.user-input input[disabled] {
  font-size: 50px;
  margin: 0 10px;
  background: none;
}

.user-input.correct input {
  color: green;
}
.user-input.wrong input {
  color: red;
}

.user-input input:focus {
  outline: none;
}
